<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>todo-vue</title>
</head>

<body>

    <div id="vueApp">
        <h1 class="welcome"> To Do List</h1>
        
        <ul>
            <!-- loops through to do items-->
            <li v-bind:key="todo.id" v-for="todo in todos">
                <Todo v-bind:todo="todo" />
                <AddTodo v-on:add-todo="addTodo" />

                <div v-bind:class="{ 'completed': todo.completed }">
                    <p v-on:click="markComplete">{{todo.title}}</p>
                </div>
                
            </li>
        </ul>
    </div>
    
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>

    <form @submit="addTodo">
        <input type="text" v-model="title" name="title">
        <button type="submit">Add</button>
    </form>

</body>

</html>